* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vmin;
  /* justify-content: center; */
  padding: 5vmin;
  background-color: #fffed0;
}

#search-div {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
}

.search-box {
  padding: 1vmin;
  background: #ffffff40;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  width: 20vw;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}


button {
  padding: 1vmin;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  border: none;
  background: rgba(255, 234, 0, 0.671);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.2s;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  cursor: pointer;
  background-color: rgb(49, 49, 49);
  color: white;
}

.data {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 23vw;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}